
@{
    ViewData["Title"] = "Error";
}
<div class="container">
    <h1>Sorry UnExpected Error Occured !</h1>
    <hr />
    <h2>@ViewBag.ErrorTitle</h2>
    <h2>@ViewBag.ErrorMessage</h2>
    <a asp-controller="home" asp-action="index">click here to navigate to home page</a>
</div>

