@model (List<string> Title, List<double> Marks)

@{
    Random r = new Random();
}

<div class="container-fluid" style="width:75%;height:75%">
    <canvas id="studentanalysis"></canvas>
</div>

<script>
    $(document).ready(function () {
        let ctx = document.getElementById('studentanalysis').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [
                    @foreach(var i in Model.Title)
                    {
                        <text>'@i',</text>
                    }
                ],
                datasets: [{
                    label:"Progress",
                    backgroundColor: [
                        @for(var i=0;i<Model.Title.Count;i++)
                        {
                            <text>setop('rgb(@r.Next(255),@r.Next(255),@r.Next(255))'),</text>
                        }
                    ],
                    data: [
                        @foreach(var i in Model.Marks)
                        {
                            <text>@i,</text>
                        }
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: "#000"
                }]
            },

            // Configuration options go here
            options: {
                title: {
                    display: true,
                    text: "Progress as a Student",
                    fontSize: 25
                },
                legend: {
                    position: 'right'
                }
            }
        });
    });
    function setop(color, opacity) {
        var alpha = opacity === undefined ? 0.5 : 1 - opacity;
        return Color(color).alpha(alpha).rgbString();
    }
</script>

