
@{
    ViewData["Title"] = "Error";
}
    <div class="container">
        <div class="alert alert-danger my-5">
            <h1>@ViewBag.ErrorTitle</h1>
            <hr />
            <h3>@ViewBag.Message</h3>
        </div>
    </div>

