@{
    ViewData["Title"] = "PaperCode";
}
<h1>Paper Code</h1>
<hr />
<div class="jumbotron my-5">
    <div class="text-center justify-content-center">
        <h1 class="display-3">Paper Code</h1><br />
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <form asp-action="@nameof(StudentController.PaperCode)">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-lg">Code</span>
                            </div>
                            <input type="text" id="papercode" name="papercode" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info m-2" value="Verify" required />
                        </div>
                    </div>
                </form>
                <span class="badge badge-danger">@ViewBag.Data</span>
            </div>
        </div>
    </div>
</div>
<div class="my-2">
    <a asp-action="@nameof(StudentController.GetResults)">Back To List</a>
</div>

