
@{
    ViewData["Title"] = "SubmitPaper";
}

<h1>Paper Completed</h1>

<div class="jumbotron my-5 shadow">
    <div class="text-center justify-content-center">
        <h1 class="display-3">Details</h1><br />
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <div class="form-group shadow">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg" style="width:160px">You</span>
                        </div>
                        <input type="text" class="form-control" value="@ViewBag.User" aria-label="Large" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg" style="width:160px">Marks Obtained</span>
                        </div>
                        <input type="text" class="form-control" value="@ViewBag.MarksObtained" aria-label="Large" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg" style="width:160px">Total Marks</span>
                        </div>
                        <input type="text" class="form-control" value="@ViewBag.TotalMarks" aria-label="Large" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <div class="form-group">
                        <span class="badge badge-success">@ViewBag.Message</span><br />
                        <a class="btn btn-info m-2" asp-action="Index" asp-controller="Home">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






